.header {
    position: relative;
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: #FFF8E7;
    top: 0;
    left: 0;
    z-index: 1000;
}


.header-left {
    display: flex;
    align-items: center;
    width: 30%;
    gap: 5px;
    
}
.header-left h1 {
    margin-right: 20px;
    color: #BD482D;
    font-size: 25px;
    padding-top: 35px;
}
.header-left img {
    width: 25%;
    height: 25%;
    padding-left: 10%;
    
}
.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    height: 100%   ;
}

.header-right ul {
    list-style: none;
    display: flex;
    gap: 50px;
    padding-right: 10%;
    padding-top: 35px;
}
.header-right ul li a {
    text-decoration: none;
    color: #935D5D;
    font-size: 20px;
    font-family: "Geologica", sans-serif;
}
.listHeader:hover {
    color: #ff5a13;

}
.header-right ul li a.login:hover {
    color: #ff5a13;
    font-weight:700;  
    text-decoration: underline;
}
.header-right ul li a.login {
    color: #ff5a13;
    font-weight:700;  
}




